@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #EFD9C6, #ECC1A4 );
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #584f47a6;
    width: 600px; 
    padding: 10px;
    margin: auto;
}
h1{
color: #F49304;
text-align: center;
text-shadow: 1px 1px 2px #da7822;
}
h2{
color: #10518A;
}
p{
    text-align: justify;
}